<%#= turbo_frame_tag "properties_list" do %>
  <%# unless params[:hide_filter] %>
    <%#= render "collection_filter" %>
  <%# end %>

  <!--div class="d-flex flex-column gap-4">
    <%#= render Admin::PropertyCardComponent.with_collection(@properties) %>
  </div-->
<%# end %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Lista de Imóveis</h3>
    <div class="card-actions">
      <%= link_to new_admin_property_path, class: "btn btn-primary" do %>
        <i class="ti ti-plus"></i>
        Adicionar Novo
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-vcenter table-mobile-md card-table">
      <thead>
        <tr>
          <th>Name</th>
          <th class="w-1"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @properties %>
        <%#= render @property_situations %>
      </tbody>
    </table>
  </div>
</div>